.form{
  margin: 60px;
}
.ant-upload-list-picture .ant-upload-list-item-error,
.ant-upload-list-picture .ant-upload-list-item-name {
  border-color: green !important;
  color: green !important;
}
.ant-form-item {
  margin-bottom: 10px !important;
}
